<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Search</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css" />
  
  <script>
    function checkPassword(event) {
    }
  </script>

</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div class="text-center">
            <h3 class="text-primary">Account search</h3>
          </div>
          <form method="post">
            <input id="username" name="username" type="text" class="form-control" autofocus="autofocus" placeholder="Customer Username">          
              <div class="text-center">
                <button class="btn btn-primary mt-2" type="submit">
                  Search
                </button>
                <button type="button" class="btn btn-primary mt-2" onclick="window.location.href='/transactions_emp'">Transaction Search</button>
              </div>
                <div class="justify-content-left">
                  Current user: <%- locals.session.username %>
                <a href="/logout"><button class="btn btn-primary text-center float-end" type="button">Logout</button></a>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>