<!DOCTYPE html>
<html>

<head>
  <title>Transactions</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
  <div class="rounded d-flex justify-content-center p-2">
    <h2>Account Transactions</h2>
  </div>
  <div class="rounded d-flex justify-content-center">
    <div class="m-2" style="width: 400px">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Account</th>
              <th scope="col">Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Memo</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  123456
                </td>
                <td>
                  Savings
                </td>
                <td>
                  $0.00
                </td>
                <td>
                  TEMP
                </td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
  
  <form method="post">
    <div style="padding-left: 30%; padding-right: 30%;" class="input-group mb-3">
      <input style="text-align: center;" id="account" name="account" type="text" class="form-control" autofocus="autofocus" placeholder="Account number">
    </div>
    <div style="padding-bottom: 20px;"class="text-center">
      <button  class="btn btn-primary mt-2" type="submit">
        Filter
      </button>
    </div>
  </form>
  <div class="rounded d-flex justify-content-center">
    <button type="button" class="btn btn-primary"><a style="text-decoration: none; color: white;" href="javascript:window. history. back();">Back to Account</a></button>
  </div>
</body>

</html>